/* body {
    background-image: url("https://i.pinimg.com/originals/ef/ca/02/efca027ab85fb3444fd473799bd4bab5.png");
    background-image: url("https://thumbs.gfycat.com/DefiniteHarshCavy-size_restricted.gif");
    background-color: #cccccc; 
    height: 500px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
} 
*/
body {
    padding: 5px;
}


#backimg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* opacity: 0.77; */
    image-rendering: pixelated ;
}

nav {
    background-color: #ffffff;
}

#hometitle {
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);

}

.hometext {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.navli {
    float: left;
    margin: 0 0 0 0;
    background-color: #333;
}
  
.navli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navli a:hover {
    background-color: #111;
}